<nav id="topNav" class="navbar navbar-full navbar-static-top navbar-dark bg-primary m-b-1">
  <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbar">
            &#9776;
        </button>
  <a class="navbar-brand" href="#">Logo</a>
  <div class="collapse navbar-toggleable-sm" id="navbar">
    <ul class="nav navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['']">หน้าแรก</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/product']">สินค้า</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/newsall']">ข่าวทั้งหมด</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/about']">เกี่ยวกับเรา</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/staff']">ทีมงาน</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/message']">ฝากข้อความ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          รายงาน
          </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/report1']">รายงาน1</a>
          <a class="dropdown-item" [routerLink]="['/report2']">รายงาน2</a>
          <a class="dropdown-item" [routerLink]="['/report3']">รายงาน3</a>
          <a class="dropdown-item" [routerLink]="['/report4']">รายงาน4</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ผู้ใช้
                    </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/register']">สมัครสมาชิค</a>
          <a class="dropdown-item" [routerLink]="['/register2']">สมัครสมาชิค2</a>
          <a class="dropdown-item" [routerLink]="['/register3']">สมัครสมาชิค3 Reactive form</a>
          <a class="dropdown-item" href="#">Pontificate</a>
          <a class="dropdown-item" href="#">Synergize</a>
        </div>
      </li>
    </ul>
    <!-- Search -->
    <form class="form-inline float-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>


  </div>
</nav>