<div class="card">
  <div class="card-header p-b-0">
    <h5 class="card-title"><i class="fa fa-cog" aria-hidden="true"></i> Dramatically Engage</h5>
  </div>

  <div class="card-block">
    <p class="card-text">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing
      procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
    <p><button class="btn btn-secondary">Engage</button></p>
  </div>
</div>